<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Page</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<%- include ('./components/header') %>

<div class="question_wrapper editPost">
    <div class="edit_wrapper">
        <h3 class="postTitle"><%= post.title %></h3>
        <p class="psotDesc"><%= post.desc %></p>
    </div>

    <form  class="form_edit" action="/editPost/<%= post._id %>" method="post">
        <input  class="edit_title" type="text" name="title" value="<%= post.title %>"><br>
        <textarea class="edit_desc" name="desc" id="" cols="40" rows="10"><%= post.desc %></textarea><br>
        <button class="edit_btn">Edit</button>

    </form>


</div>
</body>
</html>