<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Page</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<%- include ('./components/header')%>

<section>
    <div class="container">
        <div class="main_wrapper">
            <div class="addComment">
                <div class="postTitle"><%= post.title%></div>
                <div class="psotDesc"><p><%= post.desc%></p></div>
            </div>
            <% if(post.owner._id.toString() === userId.toString()) { %>
            <div class="postModify">
                    <a href="/edit_page/<%=post._id%>"><button class="edit_btn">Edit</button></a>
                <form action="/delete/<%=post._id%>">
                    <button class="edit_btn">Delete</button>
                </form>
            </div>
            <% } %>
            <form action="/addComment/<%= userId%>" method="post">
                <input type="hidden" value="<%= post._id%>" name="postId" >
                <textarea name="comment" id="" cols="50" rows="10" placeholder="Comment" class="commentArea"></textarea><br>
                <button class="question_btn">Add comment</button>
                <a href="/" class="edit_btn">Go Back</button></a>
            </form>
            <%for(let i = 0; i<comments.length; i++){%>
            <div class="comment">
                <p><%=comments[i].comment%></p>
                <p>Added by: <%= comments[i].owner.userName%></p>
            </div>

            <% if(comments[i].owner._id.toString() === userId.toString()) { %>
            <div>



                <form action="/deleteComment/<%=comments[i]._id%>" method="post">
                    <input type="hidden" name="postId" value="<%= post._id %>">
                    <button class="edit_btn">Delete</button>
                   <a href="/" class="edit_btn">Go Back</button></a>
                </form>


            </div>
            <% } %>
            <%}%>



        </div>
    </div>
</section>


</div>
</body>
</html>