<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Page</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<div class="flex_wrapper">
   <%- include ('./components/header') %>

   <section class="section_content">
    <div class="container">
        <div class="main_wrapper">
            <div class="addedComment">
                <div class="postTitle"><%= post.title %></div>
                <div class="psotDesc"><%= post.desc %></div>
            </div>

            <% if(post.owner._id.toString() === userId.toString()) { %>
            <div class="postModify">
                <a href="/edit_page/<%= post._id %>">
                    <button class="full_edit_btn">Edit</button>
                </a>
                <form action="/delete/<%= post._id %>">
                    <button class="full_edit_btn">Delete</button>
                </form>
            </div>

            <% } %>
            <%if(userId){%>
            <form action="/addComment/<%= userId %>/<%= post._id %>" method="post">
                <input type="hidden" value="<%= post._id %>" name="postId">
                <textarea name="comment" id="" cols="50" rows="10" placeholder="Comment" class="commentArea"></textarea><br>
                <button class="question_btn">Add comment</button>

            </form>
            <%}%>

            <% for(let i = 0; i < comments.length; i++){ %>
                <% if(comments[i].fromPost && comments[i].fromPost._id.toString() === post._id.toString()){ %>


                <div class="comment">
               <div class="comment_title">
                   <p ><%= comments[i].comment %></p>
               </div>
                <p class="comment_added">Added by: <%= comments[i].owner.userName %></p>
            </div>

            <% if(comments[i].owner._id.toString() === userId.toString()) { %>
            <div>


                <form class="hidden_form" action="/deleteComment/<%= comments[i]._id %>" method="post">
                    <input type="hidden" name="postId" value="<%= post._id %>">
                    <button class="full_edit_btn">Delete</button>

                </form>


            </div>
            <% } %>
            <% } %>

            <% } %>

        </div>
    </div>
</section>
   <%- include ('./components/footer') %>
</div>


</div>
</body>
</html>