<%- include ('./components/header') %>

<section class="section_content">

    <div class="container">
        <div class="main_wrapper_start">
            <div class="main_title">
                <h3>Matrix Master Community</h3>
            </div>
            <div>
                <a class="question_btn" href="/questionPage">Add Question</a>
            </div>

            <div class="allPosts">
                <% for (let i = 0; i<posts.length;i++) {%>
                <div class="post">
                <h3><%= posts[i].title %></h3>
                <p><%= posts[i].desc %></p>
                <div>
                      <a href=/edit-post<%= posts[i]._id%>>
                      <button class="btn btn-light">Edit</button>
                       </a>
                       <a href=/delete-post/<%= posts[i]._id%>>
                       <button class="btn btn-light">Delete</button>
                       </a>
                   </div>
                </div>
                <%}%>
            </div>
        </div>

    </div>
</section>


</body>
</html>